<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/" color="primary" mode="md">

      </ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Notas</ion-title>
    <ion-thumbnail slot="end" style="padding-top: 8px; padding-right: 8px;">
      <ion-icon name="stats-chart" size="large"></ion-icon>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerLink="/inicio/notas/ingresar-notas">Ingresar Notas</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="success"routerLink="/inicio/notas/mostrar-notas">Ver Notas</ion-button>

  </ion-card>
</ion-content>
