<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/" color="primary" mode="md">

      </ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="end" style="padding-top: 8px; padding-right: 8px;">
      <ion-icon name="checkmark" size="large"></ion-icon>
    </ion-thumbnail>
    <ion-title style="text-align: center;">Asistencia - Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-margin">
    <ion-item *ngFor="let x of listaAsistencia">
      <ion-item>
        <ion-label >{{x.NOMBREALUMNO}}</ion-label>              
        <ion-input type="checkbox" slot="end">
          <ion-label class="ion-margin">Presente</ion-label>
          <ion-checkbox [(ngModel)]="x.PRESENTE" (ionChange)="asistenciaAlumnoCambiada()"></ion-checkbox>
        </ion-input>
      </ion-item>
    </ion-item>
  </ion-list>
    
    
    <ion-button expand="block" strong="true" id="modal-alumnos" class="ion-margin" color="secondary" (click)="confirmarAsistencia()">Confirmar Asistencia</ion-button>
    

</ion-content>
