<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/" color="primary" mode="md">

      </ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="end" style="padding-top: 8px; padding-right: 8px;">
      <ion-icon name="checkmark" size="large"></ion-icon>
    </ion-thumbnail>
    <ion-title style="text-align: center;">Asistencia - Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-item>
      <ion-label *ngFor="let x of listaAlumnos">{{x.NOMBREALUMNO}}</ion-label>              
    </ion-item>
    <div> 
      <div float-right class="my-checkbox" >
        <ion-item >
          <ion-input type="checkbox" slot="end">
            <ion-label class="ion-margin">Presente</ion-label>
            <ion-checkbox name="ob-positiva">
            </ion-checkbox>
          </ion-input>
        </ion-item>
      </div>   
    </div>
  </ion-item>
        

  <ion-button expand="block" strong="true" id="modal-alumnos" class="ion-margin" routerLink="/inicio">Confirmar Asistencia</ion-button>


</ion-content>
