.container {
    background: rgb(68,27,2);
    background: linear-gradient(90deg, rgba(68,27,2,1) 15%, rgb(234, 117, 45) 52%, rgba(244,227,90,1) 100%);
}

.title{
    text-align: center;
    font-family:system-ui, -apple-system;
    text-shadow:2px 2px rgb(248, 209, 100);
}