
<ion-header>
  <ion-toolbar>
    <ion-title  style="padding: 0;background-color: black;">
        <ion-img class="boton" src="\assets\image\logo2.png" style="width: 50%;margin: auto;">  </ion-img>
        <h1 style="font-family: Arial;text-align: center;font-size: 40px;"> AulaApp</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <ion-card class="ion-margin">
    <ion-card-header>
    <ion-card-title style="text-align: center;">Inicio de sesión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-item class="ion-margin">
        
        <ion-label position="floating" >Usuario (RUN sin punto ni guión)</ion-label>
        <ion-input [(ngModel)]="usuarioForm.run" type="tel" maxlength="10"></ion-input>
      </ion-item>

      <ion-item class="ion-margin">
        <ion-label position="floating" >Contraseña</ion-label>
        <ion-input type="password" maxlength="100" [(ngModel)]="usuarioForm.password"></ion-input>
      </ion-item>

      <!-- <ion-item class="ion-margin">
        <ion-label>Recordar Usuario</ion-label>
        <ion-checkbox slot="end" value="Recordar usuario"></ion-checkbox>
      </ion-item>       -->
    </ion-card-content>

  </ion-card>


  <ion-button expand="full" color="warning"  size="large" class="pulse ion-margin" (click)="validarLogin()" > <ion-icon name="log-in-outline" slot="start"></ion-icon>
    Ingresar</ion-button>
  <ion-button expand="full" color="light" size="large"   class="pulse ion-margin" (click)="recuperarContrasena()" >Recuperar contraseña</ion-button>

  <!--
  <ion-button (click)="mostrarInfoButton()">prueba lista api</ion-button>
  <ion-list lines="full" class="ion-margin" *ngIf="mostrarInfo">
    <ion-item *ngFor="let x of listaUsuarios" detail>
      <ion-card-header>
        <ion-card-title>Rut: {{x.RUN}}</ion-card-title>
        <ion-card-title>Codigo Usuario: {{x.COD_USUARIO}}</ion-card-title>
        <ion-card-title>Email: {{x.MAIL}}</ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-list>
  -->
  <br>
  <p> v1.0 - Prototipo</p>
</ion-content>
