<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/" color="primary" mode="md">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar</ion-title>
    <ion-thumbnail slot="end" style="padding-top: 8px; padding-right: 8px;">
      <ion-icon name="pencil" color="medium"size="large"></ion-icon>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>



<ion-content class="bg">
  <div>
    <form class="custom-form" method="post">
      <ion-label>Ingrese datos</ion-label>
      <input
        type="password"
        [(ngModel)]="usuarioFormCambiar.password"
        name="password"
        placeholder="Contraseña Actual"
        required="required"
        maxlength="25"
      />
      <input
        type="password"
        [(ngModel)]="usuarioFormCambiar.nueva_password"
        name="nueva_password"
        placeholder="Nueva Contraseña"
        required="required"
        maxlength="25"
      />
      <input
        type="password"
        [(ngModel)]="usuarioFormCambiar.conf_nueva_password"
        name="conf_nueva_password"
        placeholder="Repita Nueva Contraseña"
        required="required"
        maxlength="25"
      />
      <button type="submit" (click)="cambiarContrasena()">Cambiar</button>
    </form>
  </div>
</ion-content>
