<app-header titulo="modificar contraseña"></app-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content class="bg">
  <div>
    <form class="custom-form" method="post">
      <ion-label>Cambiar Contraseña</ion-label>
      <input
      type="text"
      [(ngModel)]="usuarioFormCambiar.usuario"
      name="text"
      placeholder="Ingrese Usuario"
      required="required"
    />
      <input
        type="text"
        [(ngModel)]="usuarioFormCambiar.password"
        name="password"
        placeholder="Contraseña Actual"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="usuarioFormCambiar.nueva_password"
        name="nueva_password"
        placeholder="Nueva Contraseña"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="usuarioFormCambiar.conf_nueva_password"
        name="conf_nueva_password"
        placeholder="Repita Nueva Contraseña"
        required="required"
      />
      <button type="submit" (click)="cambiarContrasena()">Cambiar</button>
    </form>
  </div>
</ion-content>
