<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/" color="primary" mode="md">

      </ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Asistencia</ion-title>
    <ion-thumbnail slot="end" style="padding-top: 8px; padding-right: 8px;">
      <ion-icon name="checkmark" size="large" color="success"></ion-icon>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerLink="/inicio/asistencia/ingresar-asistencia">Ingresar Asistencia</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="success"routerLink="/inicio/asistencia/ver-asistencia">Ver Asistencia</ion-button>

  </ion-card>

</ion-content>
